@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
body {
    background: #f0f0f0;
    padding: 30px 100px;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    background: #f0f0f0;
}
.wrapper-2, .wrapper-1 {
    margin-bottom: 2px;
    background: #fff;
    padding: 20px;
}
.wrapper-3 {
    display: flex;
    background: #fff;
    padding: 20px;
    flex-wrap: wrap;
}
.form-wrapper {
    display: flex;
}
.form-form {
    width: 100%;
    position: relative;
}
.prooved {
    position: absolute;
    top: 20px;
    right: 0;
}
.skill {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 17px;
}
#our-form {
    display: flex;
    flex-wrap: wrap;
    color: #848383;
}
.checkbox {
    width: 25%;
    margin-bottom: 20px;
}
.txt {
    border: 0;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    color: #000;
    display: block;
    margin: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
.shape {
    position: relative;
}
.summ {
    padding-left: 60px;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.bull {
    position: absolute;
    bottom: 0;
    left: 83px;
    transform-origin: 100% 100%;
    transition: 1s;
}
.how {
    font-size: 50px;
    color: #0093d7;
}
/*checkbox */
.checkbox input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
}

.checkbox label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
.checkbox label::before{
    height: 16px;
    width: 16px;
    background: #eeeeee;
  border-radius: 5px;
    left: -24px;
    top: 1px;
    cursor: pointer;
}
.checkbox label::after {
    height: 5px;
    width: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: -21px;
    top: 4px;
  color: #fff;
}
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
.checkbox input[type="checkbox"]:checked + label::before {

  background: #0093d7;
}
@media (max-width: 768px) {
    .checkbox {
        width: 50%;
    }
    body {
        padding: 10px;
    }
    .form-wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 375px) {
    .prooved {
        display: none;
    }
    .checkbox {
        width: 100%;
    }
}